.container {
    /* Existing or general styles for the container */
}

.projectContainer {
    padding-inline: var(--padding-inline);
}

.featuredProjects {
    color: var(--green);
    text-align: center;
}

.projectList {
    list-style-type: none;
    padding: 0;
}
.img{
    width: 350px;
    border-radius: 12px;
    border: 1px solid var(--green);
}
.project {
    margin-bottom: 5rem; /* Space between projects */
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
}

.projectContent {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.projectLeft, .projectRight {
    flex: 1;
}

.project > img {
    width: 100%; /* Adjust as needed */
    max-width: 320px; /* Adjust as needed */
    height: auto;
    border-radius: 12px;
}

.techContainer {
    list-style-type: disc;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 1rem;
    gap: 1rem;
}

.tech {
    color: var(--green);
    font-size: 1rem; /* Adjust as needed */
}

.overviewTitle {
    margin-bottom: 1rem;
}

.projectOverview {
    color: white;
    margin-bottom: 1rem;
}

.projectLinks {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    gap: 1rem;
}

.demoButton, .codeButton {
    background-color: var(--green);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

@media screen and (max-width: 994px) {
    .project {
        flex-direction: column;
        align-items: center;
    }
    .projectContainer {
        padding-inline: var(--padding-inline-mobile);
    }

    .projectContent {
        flex-direction: column;
        gap: 1rem;
    }

    .projectLeft, .projectRight {
        flex: none; /* Reset flex */
        width: 100%; /* Full width on small screens */
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 90%; 
        max-width: 90%; 
        align-self: center;
    }

    .projectLinks {
        flex-direction: column;
        gap: 0.5rem;
    }

    .demoButton, .codeButton {
        width: 100%; /* Full width buttons */
    }

    .techContainer {
        flex-wrap: wrap; /* Wrap tech items */
        justify-content: center; /* Center tech items */
    }
}
