.container {
    display: flex;
    padding-inline: 6rem;
}

.underline {
    border: 3px solid var(--green);
    align-self: center;
    width: 8rem;
    height: 0;
    margin-inline-end: 2rem;
}
.container > h1 {
    font-size: 3rem;
}

@media( max-width: 994px){
    .container {
        padding-inline: 0;
    }
    .container > h1 {
        margin-inline: auto;
    }
    .underline{
        display: none;
    }
}