:root {
    --green: #28DF99;
    --light-grey: #7E97A6;
    --grey: #63686E;
    --dark-grey: #373640;
    --padding-inline: 8rem;
    --padding-inline-mobile: 2rem;
    
}
/*  font weight
700 - bold
400 - light

*/


body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
    color: white;
    font-family: Encode Sans Expanded, sans-serif;
}
div {
    overflow-x: hidden;
}